{% extends "../base.html" %}

{% block content %}

<!--郵便番号-->
<script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>


<div clas="row">
    <div class="col-md-8 offset-md-2">
        <div class="mx-2 my-3">
            <h2>利用者の更新・編集</h2>
        </div>

        <div class="mx-2">
            <form method="POST" class="h-adr">
                {% csrf_token %}
                <!-- タグでフォームを生成 -->
                <table class="table table-striped" border="3">
                    <tr>
                        <th><label for="id_name">氏名</label></th>
                        <td>
                            {{ form.name }}
                        </td>
                    </tr>
                    <tr>
                        <th><label for="id_birthday">生年月日</label></th>
                        <td>
                            <input type="date" name="birthday" value="{{ object.birthday|date:'Y-m-d' }}" required id="id_birthday">
                        </td>
                    </tr>
                    <tr>
                        <th><label for="id_gender">性別</label></th>
                        <td>
                            {{ form.gender }}
                        </td>
                    </tr>
                    <tr>
                        <th><label for="id_zip_code">郵便番号</label></th>
                        <td>
                            <span class="p-country-name" style="display:none;">Japan</span>
                            〒
                            <input type="text" name="zip_code1" class="p-postal-code" value="{{ object.zip_code1 }}" pattern="^[0-9]+$" maxlength="3" size="3" required id="id_zip_code" inputmode="numeric">
                            -
                            <input type="text" name="zip_code2" class="p-postal-code" value="{{ object.zip_code2 }}" pattern="^[0-9]+$" maxlength="4" size="4" required id="id_zip_code" inputmode="numeric">
                        </td>
                    </tr>
                    <tr>
                        <th><label for="id_address">住所:</label></th>
                        <td>
                            <input type="text" name="address" class="p-region p-locality p-street-address p-extended-address" maxlength="200" required id="id_address" value="{{ object.address }}" />
                        </td>
                    </tr>
                    <tr>
                        <th><label for="id_phone_number">電話番号</label></th>
                        <td>
                            <input type="text" name="phone_number" pattern="^[0-9]+$" maxlength="20" required id="id_phone_number" value="{{ object.phone_number }}"  inputmode="numeric" />
                        </td>
                    </tr>
                    <tr>
                        <th><label for="id_temperature">体温</label></th>
                        <td>
                            {{ form.temperature }}
                        </td>
                    </tr>
                </table>

                <br/>
                <button type="submit" class="btn btn-primary">更新</button>
                <button type="submit" class="btn btn-secondary" onclick="javascript:history.go(-1);" name="back" >戻る</button>

            </form>
        </div>
    </div>
</div>

{% endblock %}