{% extends "../base.html" %}

{% block content %}

<h2>利用時間帯</h2>

<!-- データ表示 -->
<table class="table" border="2">
    <thead>
        <th>利用時間帯</th>
       
        <th></th>
        
        <th>
            <a href="{% url 'ur_create' %}" class="btn btn-primary">新規登録</a>
        </th>
        
    </thead>
    <tbody>
        <form method="GET">
            {% for item in ur_sessionviews %}
            <tr>
                <!-- 利用時間帯 選択 -->
                <td>
                    <a href="{% url 'ur_use_list' item.use_session %}">
                        {{ item.get_use_session_display }}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </form>
    </tbody>
</table>

<!--ページング機能-->
{% include 'app/pagination.html' %}

{% endblock %}