<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">

<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">プール利用者管理</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <!--左寄せになる-->
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'admin:index'%}">管理サイト</a>
                </li>

                <!--利用者情報に遷移-->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index'%}">利用者一覧</a>
                </li>

                <!--利用記録に遷移-->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'ur_use_list'%}">利用記録</a>
                </li>
            </ul>
            <!--右寄せになる-->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <!--ログインしているならログアウトを表示-->
                    {% if user.is_authenticated %}
                        <a type="button" class="btn btn-danger" aria-current="page" data-bs-toggle="modal" data-bs-target="#logout-Modal" href="{% url 'logout' %}">ログアウト</a>
                        {% include 'registration/logout.html' %}

                    <!--していないならログインを表示-->
                    {% else %}
                        <a type="button" class="btn btn-success" class="nav-link active" aria-current="page" href="{% url 'login' %}">ログイン</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>